@model IEnumerable<Category>
@{
    Layout = "_AdminLayout";
}

<h2>Categories</h2>

<a asp-action="AddCategory" asp-controller="Category"
   class="btn text-white"
   style="background-color:#486888;">
    <i class="bi bi-plus-circle"></i> Add More
</a>

<table class="table table-striped my-2">
    <tr>
        <th>Category</th>
        <th>Action</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryName</td>
            <td>
                <a asp-action="UpdateCategory"
                   asp-controller="Category"
                   asp-route-id="@category.id"
                   class="btn btn-success">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>

                <a asp-action="DeleteCategory"
                   asp-controller="Category"
                   asp-route-id="@category.Id"
                   class="btn btn-danger"
                   onclick="return window.confirm('Are you sure?')">
                    <i class="bi bi-trash"></i> Delete
                </a>
            </td>
        </tr>
    }
</table>
